@tailwind base;
@tailwind components;
@tailwind utilities;


.chart-container {
    width: 100%;
    height: 50vh; /* Default height for desktop */
    position: relative;
  }
  
  @media (max-width: 1200px) {
    .chart-container {
      height: 40vh; /* Height for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .chart-container {
      height: 30vh; /* Height for tablets */
    }
  }
  
  @media (max-width: 576px) {
    .chart-container {
      height: 25vh; /* Height for mobile */
    }
  }
  

  